page-home {
    .centraliza {
        text-align:center;
    }
    
    .centraliza-botoes {
        text-align:center;
        margin-top: calc(40vh - 80px);
    }
    
    .espacamento-botoes {
        margin: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}